.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input .inputFlex {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.input input:focus,
.input textarea:focus {
  outline: none;
  border-color: #4f005f;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input textarea {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
  resize: none;
}

.input .blind {
  display: none;
}
